@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome.eot');
    src: url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome.svg#fontawesome') format('svg'), url('../fonts/fontawesome.woff') format('woff'), url('../fonts/fontawesome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;

}

.nav {
    margin-top: 50px;
    z-index: 9999;
    position: absolute;
}

.arrow {
    width: 20px;
    height: 100px;
    background: #0066cc;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: -50px;
    line-height: 100px;
    cursor: pointer;
    font-weight: normal;
    padding: 5px;

    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity = 70 );
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 70);
    filter: alpha(opacity = 70);
}

.arrow:hover {
    background: #cccccc;
}

.right {
    margin-left: 400px;
}

.left {
    position: relative;
}

/* Slider Styles */
.container {

}

#cubeCarousel {
    -webkit-perspective: 800;
    -moz-perspective: 800px;
    -o-perspective: 800;
    perspective: 800px;
    margin: 50px 0px 0px 80px;
    border-style: dotted;
    border-width: 1px;
}

#cubeCarousel #cubeSpinner {
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

#cubeCarousel .face {
    position: absolute;
    padding: 0px;
}


